*{
    direction: rtl;
}
a{
    text-decoration: none;
}
body{
    background-color: #eeeeee;
}
.background-color{
    color: #eeeeee;
}
.section-color{
    background-color: #f7f7f7;
}

.btn-success{
    border-color: #00b809 !important;
    background-color: #00b809 !important;
}

.main-color, .main-color:hover{
    color: #FB5012;
}

.border-bottom{
    border-color: #FB5012 !important;
}

.text-bold{
    font-weight: bolder;
}

.form-css{
    padding: 15px;
}

.bg-main-color{
    background-color: #FB5012 !important;
}

.text-white{
    color: #f7f7f7;
}
.huge-text{
    font-size: 100px;
}

.login-div{
    width: 33%;
}

.min-vh-100{
    height: 100vh;
}

.dashboard-card{
    min-width: auto;
    border-radius: 10px;
    max-width: 400px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(37, 37, 37, 0.432);
}

thead tr td{
    font-size: 24px;
}
tbody tr td{
    font-size: 18px;
}

.pagination > li > a,
.pagination > li > span {
    color: #FB5012;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #FB5012;
    border-color: #b9b9b9;
}

.m-navbar{
    border-radius: 0px 0px 16px 16px;
}

.landing-body{
    background-color: #fff;
}

.first_section{
    margin-top: 40px;
}

.header_text_one{
    font-size: 86px;
    font-weight: bolder;
}

.header_text_two{
    font-size: 64px;
    font-weight: bold;
    color: #fa6129;
}

.services_section{
    margin-top: 80px;
}

.services_section_two{
    background-color: #768ad8;
}

.services_image{
    width: 30%;
}

.services_text{
    font-size: 24px;
}

.header_title_three{
    color: #f8bc34;
    font-size: 64px;
    font-weight: bolder;
}

.plan-item{
    border-radius: 15px;
}